<!DOCTYPE html>
<html>
<head>
    <title>property upload page</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/propertyUpload.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<style>
    body {
        background-size: cover;
    }
</style>
<body class="myBody">
<div class="myContainer">

    <div class="col-md-8 mb-md-5 d-flex align-middle justify-content-center" id="content">
        <h2 class="text-center witt" id="submitAdvertisementButton">PUBLICAR ANUNCIO <br></h2>
        <br>
        <form action="/property-upload" method="post" enctype="multipart/form-data">

            <h3 class="botonDesp1">Tipo de anuncio:</h3>
            <select required class="botonDesp" name="type" id="type"
                    value="{{#advertisement.type}}{{advertisement.type}}{{/advertisement.type}}">
                <option value="Venta">Venta</option>
                <option value="Alquiler">Alquiler</option>
            </select>
            <h3 class="botonDesp1">Tipo de vivienda:</h3>
            <select required class="botonDesp" name="property" id="property"
                    value="{{#advertisement.property}}{{advertisement.property}}{{/advertisement.property}}">
                <option value="Piso">Piso</option>
                <option value="Casa">Casa</option>
                <option value="Local">Local</option>
            </select>
            <h3 class="botonDesp1">Nº de habitaciones:</h3>
            <select required class="botonDesp" name="rooms" id="rooms"
                    value="{{#advertisement.rooms}}{{advertisement.rooms}}{{/advertisement.rooms}}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
            <h3 class="botonDesp1">Nº de baños:</h3>
            <select required class="botonDesp" name="bathrooms" id="bathrooms"
                    value="{{#advertisement.bathrooms}}{{advertisement.bathrooms}}{{/advertisement.bathrooms}}"/>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            </select>
            <h3 class="botonDesp1">Metros cuadrados:</h3>

            <input type="number" required max="800" id="squareMeters" name="squareMeters"
                   value="{{#advertisement.squareMeters}}{{advertisement.squareMeters}}{{/advertisement.squareMeters}}"/>

            <!--<h3 class="botonDesp1">Localización:</h3>-->
            <h3 class="botonDesp2">Introduzca la Localidad:</h3><br><br><br>
            <input required name="location" type="text" id="location"
                   value="{{#advertisement.location}}{{advertisement.location}}{{/advertisement.location}}">
            <br>
            <h3 class="botonDesp1">Introduzca el precio del anuncio:</h3>
            <input  required class="numberInput" type="number" max="2000000" name="price" id="price"
                   value="{{#advertisement.price}}{{advertisement.price}}{{/advertisement.price}}">
            <h3 class="botonDesp2">Introduzca la dirección:</h3><br><br><br>
            <input name="address" type="text" id="address"
                   value="{{#advertisement.address}}{{advertisement.address}}{{/advertisement.address}}">
            <br>
            <label for="file">Select image:</label>
            <input required type="file" id="file" name="file" multiple>
            <input type="submit">


            <!-- <input type="submit" value="subir anuncio" class="btn btn-primary py-3 px-5"> -->
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
</div>
</body>
</html>