<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
    
</head>
<style>
        body{
            background-size: cover; 
        }
    </style>
<body class="" background="images/bg_1.jpg">

<div class="container">
	<div class="wrapper fadeInDown">
        <div id="formContent">
            
          <!-- Sign Up Form -->
          <form  method="POST" action="signUp" >
            <h3>Sign Up</h3>
            <input type="text" id="emailAddress" class="fadeIn second" name="email" placeholder="Email Address">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
            <input type="password" id="password" class="fadeIn third psswdInput" name="password" placeholder="Password" style="background: #f6f6f6;
            border: none;
            border-radius: 4px;
            width: 88%;
            height: 40px;
            font-size: unset;
            text-align: center;
            margin:10px;
            ">
            <input type="hidden" name="_csrf" value="{{token}}"/>         
            <input type="submit" class="fadeIn fourth" value="Sign Up">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>